.canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: screen;
}

.lpHeroBg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.lpGradientXleft {
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, #050505, rgba(5,5,5,0.6), transparent);
  pointer-events: none;
}

.lpGradientXright {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #050505, rgba(5,5,5,0.6), transparent);
  pointer-events: none;
}

.lpGradientY {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #050505, transparent, transparent);
  pointer-events: none;
}